#Clock-container{
    position: relative;
    height: 40vw;
    width: 40vw;
    /* border: 4px solid red; */
    background: url('clock.jpg')no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{    
   width: 1.7%;
   height: 24%;
   top: 26%;
   left: 49.3%;
   opacity: 0.8;
   /* display: none; */
}
#minute{    
   width: 1.3%;
   height: 27%;
   top: 23%;
   left: 49.5%;
   opacity: 0.8;
   /* display: none; */
}
#second{    
   width: .7%;
   height: 28%;
   top: 22%;
   left: 49.7%;
   opacity: 0.8;
   /* display: none; */
}
